/* NAVBAR CSS */
.navbar {
    display : flex;
    justify-content: space-between;
    background-color: #80a5c1;
}

.nav-links{
    display: flex;
    justify-content: space-between;
    align-items : center;
    width : 70%;
}

/* CONTENT CSS */

/* BUTTONS CSS */

/* LEADERBOARD CSS */

/* FOOTER CSS */











