{#<!DOCTYPE html>#}
{#<html>#}
{#<head>#}
{#    <script type="text/javascript" src="../../static/board/board.js"></script>#}
{#    <link rel="stylesheet" href="../../static/leaderboard/leaderboard.css">#}
{#</head>#}
{#<body>#}
{#    <div class="leaderboard-container">#}
{#        {% for item in sample_data %}#}
{#            <div class="leaderboard-item">#}
{#                <div class="leaderboard-item-username">{{ item.username}} : {{item.score}}</div>#}
{#            </div>#}
{#        {% endfor %}#}
{#    </div>#}
{#</body>#}
{#</html>#}
