.sudoku{
    display: grid;
    grid-template-columns: 2fr 1fr;
    height : 60vh;

}

.board{
    transform : scale(0.6)
}

.forum{
    width : 70%;
}

.post{
    padding : 30px;
    border-bottom : 1px solid black;
}

.forum-posts{
    display : flex;
    justify-content: center;
    padding : 30px;
}

.leaderboard{
    align-self : center;
}

.title, .post-comments-link{
    text-decoration: none;
    color : black;
    margin-bottom : 30px;
}

.title:hover, .post-comments-link:hover{
    color: blue;
}

.post-header-section{
    display : flex;
    justify-content : space-between;
    flex-direction : row;;
}

.title{
    font-weight : bold;
}

.post-title{
    align-items : center;
}

.post-image{
    height : 200px;
    width : 200px;
}

.post-comments{
    margin : 20px;
}

.user-icon{
    height : 50px;
    width : 50px;
    margin : 10px;
}

.leaderboard-username, .leaderboard-postcount, .leaderboard-solvecount{
    padding : 4px;
}

th{
    padding-right : 10px;
}
