.sudoku{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.board{
    transform : scale(0.6)
}

.forum-posts{
    display : flex;
    justify-content: center;
    padding : 30px;
}

.leaderboard{
    align-self : center;
}

