form {
    width : 70%;
}

.main{
    height : 100vh;
}


.login-form{
    display : flex;
    justify-content: center;
}

.button{
    display : flex;
    justify-content : center;
}

.change_password{
    display : flex;
    justify-content : center;
    align-items : center;
    padding-top : 30px;
}

.change{
    text-decoration : none;
    color : gray;
}

.register{
    margin-top : 40px;
    display : flex;
    justify-content : center
}

.register-description{
    text-decoration : none;
    color : gray;
}

.register-text:hover{
    color : black;
}

