.main{
    height : 100vh;
    color : white;
}

form {
    width : 70%;
}


.register-form{
    display : flex;
    justify-content: center;
}

.button{
    display : flex;
    justify-content : center;
}

.btn-primary{
    background-color : #5e0f0f !important;
    border : #5e0f0f !important
}


