/* NAVBAR CSS */
.navbar {
    display : flex;
    justify-content: space-between;
    background-color: #80a5c1;
}

.nav-links{
    display: flex;
    justify-content: space-between;
    align-items : center;
    width : 60%;
}

.nav-links>a, .login>a{
    text-decoration: none;
    color: white;
}

.login{
    display: flex;
    justify-content: space-between;
    align-items : center;
    padding : 20px;
}

/* CONTENT CSS */

/* BUTTONS CSS */

/* LEADERBOARD CSS */

/* FOOTER CSS */











