.post-title {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.post-text {
    padding: 30px;
}

.sudoku-board {
    transform: scale(0.7)
}

.user-icon {
    height: 50px;
    width: auto;
    margin: 25px;
}

.post-comments {
    padding: 50px;
}

.comments {
    border-bottom: 2px solid black;
}

.solve-button {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.solve {
    text-decoration: none;
}

.comment-form {
    width: 70%;
}

.comment-container {
    display: flex;
    justify-content: center
}

.button {
    display: flex;
    justify-content: center
}
