{% extends 'base.html' %}

{% block content %}
<form method="POST">
    {{ form.hidden_tag() }}
    <div>
        <label for="username">User Name</label>
        {{ form.oldpassword(id='Username') }}
    </div>
    <div>
        <label for="oldpassword">Old Password</label>
        {{ form.oldpassword(id='oldpassword') }}
    </div>
    <div>
        <label for="password">New Password</label>
        {{ form.password(id='password') }}
    </div>
    <div>
        <label for="confirm_password">Confirm New Password</label>
        {{ form.confirm_password(id='confirm_password') }}
    </div>
    <div>
        {{ form.submit() }}
    </div>
</form>
{% endblock %}
