{% extends 'base.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<div class="post" id="post-{{ post.id }}">
    <div class="post-header">
        <h2 class="post-title">{{ post.title }}</a></h2>
    </div>
    <div class="post-content">
        <div class="sudoku-board">
            <!-- Include the Sudoku board here -->
            {% include '/board/board.html' %}
        </div>
        <div class="solve-button">
            <h3>
                <a class="solve" href="/solve/{{ post.id }}">Solve it yourself!</a>
            </h3>
        </div>
        <div class="post-text">
            <h4>{{ post.content }}</h4>
        </div>
        <div class="post-comments">
            <h4>Comments</h4>
                {% for comment in post.comments%}
                    <p class="comments"><img class="user-icon" src="../../static/images/github_icons/yet.jpeg"/>{{ comment.author }}: {{ comment.text }}</p>
                {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
