{#<!DOCTYPE html>#}
{#<html>#}
{#    <head>#}
{#        <script type="text/javascript" src="../../static/board/board.js"></script>#}
{#        <link rel="stylesheet" href="./../static/board/board.css"></style>#}
{#    </head>#}
{#    <body onload="generateSudoku();">#}
{#        <div id="cellTemplate" class="cell">#}
{#            <input type="text" inputmode="numeric" maxlength="1">#}
{#        </div>#}
{#        <div id="blockTemplate" class="block">#}
{##}
{#        </div>#}
{#        <div id="gameboard" class="gameboard">#}
{##}
{#        </div>#}
{#    </body>#}
{#</html>#}
