{% extends 'base.html' %}
{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='user/user.js') }}" defer></script>
{% endblock %}

{% block content %}
    <title>Upload Avatar</title>
    <h1>Upload Avatar file here</h1>
    <div class="avatar-form p-5">
        <form method="POST" class="avatar-form" enctype="multipart/form-data">
            <div class="form-group p-3">
                <label for="avatar">Upload Avatar</label>
                <input type="file" class="form-control" id="avatar" name="file" />
            </div>
            <div class="button">
                <button type="submit" class="btn btn-primary">Upload</button>
            </div>
        </form>
    </div>
    {% for message in get_flashed_messages() %}
        <p>{{ message }}</p>
    {% endfor %}
{% endblock %}
