{% extends 'base.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <div class="post" id="post-{{ post.postid }}">
        <div class="post-header">
            <h2 class="post-title">{{ post.title }}</a></h2>
        </div>
        <div class="post-content">
            {#            <div class="sudoku-board">#}
            <div class="puzzledata card-body code-block">
                <div>{{ post.puzzledata }}</div>
            </div>
            <div class="solve-button">
                <h3>
                    <a class="solve" href="/solve/{{ post.postid }}">Solve it yourself!</a>
                </h3>
            </div>
            <div class="post-text">
                <h4>{{ post.content }}</h4>
            </div>
            <div class="post-comments">
                <h4>Comments</h4>
                {% for comment in post.comments %}
                    <p class="comments"><img class="user-icon" src="









                            {{ url_for('static', filename='images/avatars/') }}{{ comment.avatarid }}.png"/>{{ comment.author }}: {{ comment.commenttext }}
                    </p>
                {% endfor %}
            </div>
        </div>
    </div>
    {% if session['username'] %}
        <div class="comment-container">
            <div class="comment-form">
                <form method="POST" id="commentForm">
                    {{ commentform.hidden_tag() }}
                    <div class="form-group p-3">
                        {{ commentform.commenttext.label(class="form-label") }}
                        {{ commentform.commenttext(class="form-control") }}
                    </div>
                    <div class="button">
                        {{ commentform.submit(class="btn btn-primary") }}
                    </div>
                </form>
            </div>
            <div class="guess-form">
                <form method="POST" id="guessForm">
                    {{ guessform.hidden_tag() }}
                    <div class="form-group p-3">
                        {{ guessform.guesstext.label(class="form-label") }}
                        {{ guessform.guesstext(class="form-control") }}
                    </div>
                    <div class="guess-buttom-container">
                        <div class="button guess-buttom">
                            {{ guessform.submit(class="btn btn-primary") }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <script>
            let sharedData = {
                postid: {{ post.postid }}
            };
            document.addEventListener('DOMContentLoaded', function () {
                var sharedData = {
                    postid: {{ post.postid }}
                };
                $(window.onload = function () {
                    $.ajax({
                        url: '/api/isfailure',
                        method: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify({
                            postid: parseInt(sharedData.postid),
                            userid: {{ session['userid'] }},
                            csrf_token: $('#guessForm input[name=csrf_token]').val()
                        }),
                        success: function (response) {
                            if (response.hasOwnProperty('result')) {
                                if (response.result === true) {
                                    $('.guess-buttom-container').html('<span>You are already dead :(</span>');
                                    console.log("You are already dead :(")
                                }
                            }
                        },
                        error: function (xhr) {
                            const response = JSON.parse(xhr.responseText);
                            alert(response.message);
                        }
                    })
                });
                $('.comment-form').on('submit', function (event) {
                    event.preventDefault();
                    $.ajax({
                        url: '/api/comment/' + parseInt(sharedData.postid),
                        method: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify({
                            commenttext: $('#commenttext').val(),
                            csrf_token: $('#commentForm input[name=csrf_token]').val()
                        }),
                        success: function (response) {
                            alert(response.message);
                            $('#commentForm').find('textarea[name="commenttext"]').val('');
                            window.location.reload();
                        },
                        error: function (xhr) {
                            const response = JSON.parse(xhr.responseText);
                            $('#message').text(response.message);
                            alert(response.message);
                        }
                    })
                });
                $('.guess-form').on('submit', function (event) {
                    event.preventDefault();
                    $.ajax({
                        url: '/api/verifyanswer',
                        method: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify({
                            guesstext: $('#guesstext').val(),
                            postid: parseInt(sharedData.postid),
                            userid: {{ session['userid'] }},
                            csrf_token: $('#guessForm input[name=csrf_token]').val()
                        }),
                        success: function (response) {
                            if (response.hasOwnProperty('result')) {
                                if (response.result === true) {
                                    alert("You got them XD");
                                } else {
                                    alert("You are dead now :P");
                                }
                            }
                            $('#guessForm').find('textarea[name="guesstext"]').val('');
                            window.location.reload();
                        },
                        error: function (xhr) {
                            const response = JSON.parse(xhr.responseText);
                            alert(response.message);
                        }
                    })
                });
            });
        </script>
    {% endif %}
{% endblock %}
