{% extends 'base.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <div class="post" id="post-{{ post.postid }}">
        <div class="post-header">
            <h2 class="post-title">{{ post.title }}</a></h2>
        </div>
        <div class="post-content">
            <div class="sudoku-board">
                <!-- Include the Sudoku board here -->
                {% include '/board/board.html' %}
            </div>
            <div class="solve-button">
                <h3>
                    <a class="solve" href="/solve/{{ post.postid }}">Solve it yourself!</a>
                </h3>
            </div>
            <div class="post-text">
                <h4>{{ post.content }}</h4>
            </div>
            <div class="post-comments">
                <h4>Comments</h4>
                {% for comment in post.comments %}
                    <p class="comments"><img class="user-icon" src="
                            {{ url_for('static', filename='images/avatars/') }}{{ comment.avatarid }}.png"/>{{ comment.author }}: {{ comment.commenttext }}
                    </p>
                {% endfor %}
            </div>
        </div>
    </div>
    {% if session['username'] %}
        <div class="comment-container">
            <div class="comment-form">
                <form method="POST" id="commentForm">
                    {{ form.hidden_tag() }}
                    <div class="form-group p-3">
                        {{ form.commenttext.label(class="form-label") }}
                        {{ form.commenttext(class="form-control") }}
                    </div>
                    <div class="button">
                        {{ form.submit(class="btn btn-primary") }}
                    </div>
                </form>
            </div>
        </div>
        <script>
            var sharedData = {
                postid: {{ post.postid }}
            };
            document.addEventListener('DOMContentLoaded', function () {
                var sharedData = {
                    postid: {{ post.postid }}
                };
                $('.comment-form').on('submit', function (event) {
                    event.preventDefault();
                    $.ajax({
                        url: '/api/comment/' + parseInt(sharedData.postid),
                        method: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify({
                            commenttext: $('#commenttext').val(),
                            csrf_token: $('#commentForm input[name=csrf_token]').val()
                        }),
                        success: function (response) {
                            alert(response.message);
                            $('#commentForm').find('textarea[name="commenttext"]').val('');
                            window.location.reload();
                        },
                        error: function (xhr) {
                            var response = JSON.parse(xhr.responseText);
                            $('#message').text(response.message);
                            alert(response.message);
                        }
                    })
                })
            });
        </script>
    {% endif %}
{% endblock %}
