{% extends 'base.html' %}

{% block content %}
<div class="howto">
    <h1>How to Play</h1>
    <p>Welcome to our xxx-driven (what's that) Murder Mystery Puzzle website! Follow these steps to immerse yourself in an exciting and challenging mystery experience:</p>

    <h2>Step 1: Register or Log In</h2>
    <p>If you're a new user, please register an account. If you already have an account, simply log in.</p>

    <h2>Step 2: Choose a Mystery</h2>
    <p>Browse through the available mysteries and choose one that interests you. Each mystery has a detailed description to help you decide.</p>

    <h2>Step 3: Investigate</h2>
    <p>Start your investigation by exploring the available clues, interrogating suspects, and gathering evidence. Use your detective skills to piece together the story.</p>

    <h2>Step4 (Optional :P) Share and Discuss</h2>
    <p>Share your thoughts with your fellow players! Or you can mislead them... BECAUSE THOSE WHO SUBMIT WRONG ANSWER IS GONNA GET KILLED!</p>

    <h2>Step 5: Solve the Mystery</h2>
    <p>When you think you have enough information, try the submit Button and see if you're correct!</p>

    <h2>Extra Info</h2>
    <p>Use the create post tab to create your own puzzle! Give our magic-box some prompt, set the answer (please make sure they're in characters list please!) and click the button! You can also upload an image if you like (no NSFW plz)</p>

    <h2>Need Help?</h2>
    <p>If you need any assistance, THERE IS NO SUPPORT SERVICE. DO YOUR OWN RESEARCH :< </p>


</div>
{% endblock %}
