{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="main">
        <div class="desc">
            <div class="description">
                <h2>Welcome to Murder Mystery</h2>
                <p>
                    A murder mystery game is an engaging and interactive experience where players immerse themselves in a fictional story of intrigue and suspense.
                    The primary objective is to solve a murder by carefully reading the provided story, analyzing clues, and ultimately identifying the killer.
                </p>
                <p>
                    Users can create a murder mystery, and solve them! But if you get the answer wrong ...
                </p>
            </div>
        </div>
        <div class="leaderboard">
            {% include "leaderboard_component.html" %}
        </div>
    </div>
    <div class="forum-posts">
        {% set forum_posts=forum_posts %}
        {% include "forum/forum.html" %}
    </div>
    <script>
        $(document).ready(function () {
            let sortbypost = true;
            const slbBody = $('.slb-body');

            function fetchAndRenderData(url, limit) {
                $.ajax({
                    url: `${url}?limit=${limit}`,
                    method: 'GET',
                    success: function (response) {
                        slbBody.empty();
                        response.forEach(function (item) {
                            slbBody.append(`
                                <tr class="leaderboard-item">
                                    <td class="leaderboard-username">
                                        ${item.username}
                                    </td>
                                    <td class="leaderboard-postcount">
                                        ${item.postcount}
                                    </td>
                                    <td class="leaderboard-solvecount">
                                        ${item.solvecount}
                                    </td>
                                </tr>
                            `);
                        });
                    },
                    error: function (xhr) {
                        const response = JSON.parse(xhr.responseText);
                        $('#message').text(response.message);
                        {#alert(response.message);#}
                    }
                });
            }

            // Initial fetch with limit 10
            fetchAndRenderData('api/getslbbypost', 10);

            // Button click event
            $('.changesort-btn').click(function () {
                sortbypost = !sortbypost;
                const url = sortbypost ? 'api/getslbbypost' : 'api/getslbbysolve';
                fetchAndRenderData(url, 10);
            });
        });
    </script>

{% endblock %}



