{#whoever embeds this page must extends base.html or have JQ loaded#}
<div class="leaderboard-container">
    <table class="leaderboard">
        <thead>
        <tr>
            <th>Username</th>
            <th>Posts</th>
            <th>Solves</th>
        </tr>
        </thead>
        <tbody class="slb-body">
        {% for item in data %}
            <tr class="leaderboard-item">
                <td class="leaderboard-username">
                    {{ item.username }}
                </td>
                <td class="leaderboard-postcount">
                    {{ item.postcount }}
                </td>
                <td class="leaderboard-solvecount">
                    {{ item.solvecount }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="button">
        <button class="changesort-btn btn btn-primary mt-3">Change sort mode</button>
    </div>

</div>
