{% extends 'base.html' %}
{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='user/user.js') }}" defer></script>
{% endblock %}

{% block content %}
    <div class="login-form p-5">
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group p-3">
                {{ form.username.label(class="form-label") }}
                {{ form.username(class="form-control") }}
            </div>
            <div class="form-group p-3">
                {{ form.password.label(class="form-label") }}
                {{ form.password(class="form-control") }}
            </div>
            <div class="button">
                {{ form.submit(class="btn btn-primary") }}
            </div>
            <div class="change_password">
                <a href=/user/changepassword class="change">Forgot Password</a>
            </div>
            <div class="register">
                <a href=/user/register class="register-description">Don't have an account? <span
                        class="register-text">Register here</span></a>
            </div>
        </form>
    </div>
{% endblock %}

