<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='navbar_style.css')}}">
</head>

<body>
    <div class="navbar">
        <div class="logo">
            <img src="{{ url_for('static', filename='images/knife.png') }}" width="75" height="75" alt="Site Logo">
        </div>
        <div class="nav-links">
            <a href="/index"> Home </a>
            <a href="/createPost"> Create Post</a>
            <a href="/leaderboard"> Leaderboard</a>
        </div>
        <div class="login">
            {% if session['username'] %}
                    <a href="/user/home">Profile</a>
            {% else %}
                <a href="/user/login"> Login</a>
            {% endif %}
        </div>
    </div>
    <div class="content">

    </div>
    <div class="buttons">

    </div>
    <div class="leaderboard">

    </div>
    <div class="footer">

    </div>
</body>

</html>
