<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <div class="navbar">
        <div class="logo">
            <h1>Logo</h1>
        </div>
        <div class="nav-links">
            <a href="#"> Home </a>
            <a href="#"> Create Sudoku</a>
            <a href="#"> Leaderboard</a>
        </div>
        <div class="login">
            <a href="#"> Login</a>
        </div>
    </div>
    <div class="content">

    </div>
    <div class="buttons">

    </div>
    <div class="leaderboard">

    </div>
    <div class="footer">

    </div>
</body>

</html>
