<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/navbar_style.css">
</head>

<body>
    <div class="navbar">
        <div class="logo">
            <img src="static/images/logo.svg" width="75" height="75" alt="Site Logo">
        </div>
        <div class="nav-links">
            <a href="/index"> Home </a>
            <a href="/createSudoku"> Create Sudoku</a>
            <a href="/leaderboard"> Leaderboard</a>
        </div>
        <div class="login">
            <a href="/login"> Login</a>
        </div>
    </div>
    <div class="content">

    </div>
    <div class="buttons">

    </div>
    <div class="leaderboard">

    </div>
    <div class="footer">

    </div>
</body>

</html>
